<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/movies_db</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">matebest</property>

        <!-- SQL dialect for your database -->
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>

        <!-- Automatic schema creation/update -->
        <property name="hibernate.hbm2ddl.auto">create-drop</property>

        <!-- Show SQL queries in the console for debugging -->
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>

        <!-- Entity classes (Java model classes) package -->
        <mapping class="mate.academy.hibernate.relations.model.Movie"/>
        <mapping class="mate.academy.hibernate.relations.model.Actor"/>
        <mapping class="mate.academy.hibernate.relations.model.Country"/>
    </session-factory>
</hibernate-configuration>