<hibernate-configuration xmlns="http://www.hibernate.org/xsd/orm/cfg">

    <session-factory>

        <property name="connection.url">jdbc:mysql://localhost:3306/many_to_many?serverTimeZone=UTC</property>
        <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="connection.username">root</property>
        <property name="connection.password">fkpQ88wV9Aiqh-$</property>
        <property name="hibernate.show_sql">true</property>
        <property name="hbm2ddl.auto">create-drop</property>

        <mapping class="mate.academy.hibernate.relations.model.Actor"/>
        <mapping class="mate.academy.hibernate.relations.model.Country"/>
        <mapping class="mate.academy.hibernate.relations.model.Movie"/>

    </session-factory>

</hibernate-configuration>