<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/movies</property>
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">rootroot</property>
        <property name="show_sql">true</property>
        <property name="format_sql">true</property>
        <property name="hibernate.hbm2dd1.auto">create-drop</property>

        <mapping class="mate.academy.hibernate.relations.model.Country" />
        <mapping class="mate.academy.hibernate.relations.model.Actor" />
        <mapping class="mate.academy.hibernate.relations.model.Movie" />
    </session-factory>
</hibernate-configuration>